*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
text-decoration: none;
color: #e6e6e6;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5a880;
}

.content {
  width: 80%;
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 2px 2px initial;
}

.title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.div-tambah {
  gap: 10px;
  width: 100%;
  justify-content: end;
  display: flex;
  margin-bottom: 15px;
}

.div-input {
  gap: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.btn-tambah {
  border: none;
  padding: 5px;
  opacity: 80%;
  height: 35px;
  width: 130px;
  cursor: pointer;
  font-size: 15px;
  color: #e6e6e6;
  border-radius: 5px;
  background-color: green;
}

.btn-reset {
  border: none;
  padding: 5px;
  opacity: 70%;
  height: 35px;
  width: 130px;
  cursor: pointer;
  font-size: 15px;
  color: #e6e6e6;
  border-radius: 5px;
  background-color: #ff0000;
}

table {
  width: 100%;
}

th {
  height: 30px;
  border-bottom: 2px solid #532e1c;
}

td {
  padding: 5px;
  border-top: 2px solid #532e1c;
  text-align: center;
}
